* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/still-life-with-human-brains.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gridContainer {
    margin: auto;
    max-width: 60%;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
}

.startGameButton {
    margin: auto;
    padding: 15px;
    background-color: black;
    font-size: 32px;
    border-radius: 10px;
    color: bisque;
    box-shadow: 10px 10px 10px rgb(227, 155, 0);
}

.hidden {
    display: none;
}